/* General Styles */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  background: white;
  color: #333;
  line-height: 140%; 
  letter-spacing: 1px;
}
a {
  color: #333;
  text-decoration: none;
  border-radius:5px;
  font-weight: bold;
}

a:hover {
  background-color:#aaa;
}

p { 
    line-height: 160%;
    padding-bottom: 2em;
}
header, section, footer,
aside, nav, article, figure {
	display: block;
}
h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}


nav {
  background-color: white;
  color: #333;
  min-height:2em;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none; /* Menu hidden by default on mobile */
  padding-top: 30px;
}



#menu li {
  margin: 10px 0;
}


#menu li a {
    font-size: 20px;
    display: block;
    width:auto;
    height:100%;
    padding:5px;
}

#menu-toggle {
  background: #333;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

#logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

main {
  margin: 20px;
}

/* Mobile Styles */
@media (max-width: 760px) {
  nav {
    padding: 10px;
  }

  #nav.open #menu {
    display: block; 
  }

  header {
    text-align: center;
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  #menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #logo {
    max-width: 100%;
    height: auto;
  }
}

/* Desktop Styles */
@media (min-width: 761px) {
  #nav {
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  #menu {
    display: block; 
    padding-top: 0px;
  }

  #menu-toggle {
    display: none; 
  }

  header {
    margin-left: 30%; /* Push header to the right */
    padding: 20px;
  }

  main {
    margin-left: 30%; /* Push content to the right */
    padding: 20px;
    max-width: 70%; /* Restrict main content width */
  }

  #logo {
    max-width: 100%; /* Logo adapts to main content width */
    height: auto;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}