<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="menu-button" onclick="$('.menu').slideToggle(200);">☰</div>
            <ul class="menu">
            {% for page in site.pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="header-image">
            <img src="{{ site.logo }}" alt="{{ site.title }} logotype">
        </div>
    </header>
    
    <main>
        <section class="content">
        {{content}}
        </section>
    </main>
</body>
</html>