<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <nav id="nav">
    <ul id="menu">
      {% for page in site.pages %}
      {% unless page.title == "" %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endunless %}
      {% endfor %}
    </ul>
    <button id="menu-toggle" onclick="toggleMenu()">☰</button>
  </nav>

  <header>
    <img src="{{ site.logo }}" alt="{{ site.title }} logotype" id="logo">
  </header>

  <main>
    {{content}}
  </main>

  <script>
    function toggleMenu() {
    document.getElementById('nav').classList.toggle('open');
    }
  </script>
</body>
</html>